/* ------------------------------------------------------------ */
/* GLOBAL CSS ------------------------------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3 {
  font-family:'Comfortaa', cursive;
}

h4, h5, h6, p {
  font-family: 'Merriweather', serif;
}

#add-plant-btn{
  color: #3B9732;
}

#header-text {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #89AD39;
  box-shadow: 5px 3px 18px #888888;
  border-width: 5px;
  margin-bottom: 20px;

    top: 0;
    /* position: fixed; */
    /* width: 100%; */
    z-index: 100;
}

button {
  background-color: #91306B;
  color: white;
  border-style: none;
  padding: 5px;
  width: 100px;
  border-radius: 15px;
}

/* -------- NAVIGATION BAR  ------------------------------- */

#navbar-row {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  border-top-color: #CFCFCF;
  border-top-style: solid;
  border-top-width: 2px;
}


.MuiSvgIcon-root {
  color: #3B9732;
  margin-left: 8%;
  margin-right: 5%;
  margin-top: 10px;
}

.MuiSvgIcon-root:active {
  color: #91306B;
}

.MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
  margin-top: -10px;
}

.MuiBottomNavigationAction-root.Mui-selected {
  padding: 0px;
  margin-bottom: 9px;
}

/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/*  LANDING PAGE CSS  ---------------------------------------- */
 
#landing-page-body {
  height: 820px;
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#landing-welcome-text {
  text-align: center;
  padding-top: 50px;
}

/* ----------------------------------------------------------- */
/*  DASHBOARD CSS  ------------------------------------------- */

.plant-img {
  max-width: 120px;
  max-height: 120px;
}

#plant-info {
  line-height: 1em;
}

.card-body {
  border-color: black;
  border-width: 2px;
}

#ifNo {
  margin-top: 100px;
}

#plant-row {
  padding: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color:#b6b6b6;
}


/* ----------------------------------------------------------- */
/*  ADD PLANT CSS  ------------------------------------------- */
#radioPlace{
  margin-right: 15%;
}

.radioSize {
  border: 0px;
  width: 100%;
  height: 1.5em;
}

#toxicDiv {
  opacity: 0.5
}

/* ----------------------------------------------------------- */
/* RESULTS PAGE CSS ------------------------------------------- */

#results-body {
  margin-bottom: 20%;
  /* margin-top:25%; */
}

/* ----------------------------------------------------------- */
/* SURVEY PAGE CSS ------------------------------------------- */
#survey-container-body {
  margin-bottom: 15%;
}

#button-row {
  margin-top: 5%;
  text-align: center;
}

.survey-button {
  padding: 5px;
  border-radius: 15px;
}


/* ----------------------------------------------------------- */
/* RESPONSIVNESS CSS ------------------------------------------- */

/* HEADER TEXT */
@media screen and (min-width: 575px) {
  #header-text{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }
}

/* @media screen and (min-width: 575px) {
  #container-body{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }
} */