/* ------------------------------------------------------------ */
/* GLOBAL CSS ------------------------------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family:'Comfortaa', cursive;
}

h2 {
  font-family:'Comfortaa', cursive;
}

h3 {
  font-family:'Comfortaa', cursive;
}

p {
  font-family: 'Merriweather', serif;
}

/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/*  LANDING PAGE CSS  ---------------------------------------- */
 
#landing-page-body {
  height: 820px;
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#landing-welcome-text {
  text-align: center;
  padding-top: 50px;
}


/* ----------------------------------------------------------- */
/*  DASHBOARD CSS  ------------------------------------------- */

.plant-img {
  max-width: 120px;
  max-height: 120px;
}

#dashboard-text {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #89AD39;
  box-shadow: 5px 3px 18px #888888;
  border-width: 5px;
  margin-bottom: 20px;
}

#plant-info {
  line-height: 1em;
}

.card-body {
  border-color: black;
  border-width: 2px;
}




